<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <title>Contact Form</title>
</head>
<body>
        
  <!-- Let's add Vue here -->
  <div id="app">
      
      <h1>Contact Form</h1>
      
      <p style="color: red;">All fields validated: {{ formStatus }}</p>

      <form method="post" action="#">
          <div>
              <label for="name">Name</label>
              <input name="name" id="name" v-model="form.name"/>
              <p style="color: red;">{{ nameValidation }}</p>
          </div>
          <div>
              <label for="email">Email</label>
              <input name="email" id="email" v-model="form.email"/>
              <p style="color: red;">{{ emailValidation }}</p>
          </div>
          <div>
              <label for="message">Message</label>
              <textarea name="message" id="message" v-model="form.message"></textarea>
              <p style="color: red;">{{ messageValidation }}</p>
          </div>

          <button @click.prevent="validateForm">Send Form</button>
      </form>

      <h2>Form Details</h2>
      <p><strong>Name</strong> {{ form.name }}</p>
      <p><strong>Email</strong> {{ form.email }}</p>
      <p><strong>Message</strong> {{ form.message }}</p>
      
  </div>
  
  <script>
      var app = new Vue({
          el: '#app',
          data: {
            form: {
              name: '',
              email: '',
              message: '',
            },
            formErrors: {
              name: '',
              email: '',
              message: ''
            },
            formStatus: ''
          },
          computed: {
            nameValidation: function () {
              if (!this.form.name.length && this.formStatus.length) {
                this.formErrors.name = 'Please enter a valid name.';
                return this.formErrors.name;
              }
            },
            emailValidation: function () {
              if (!this.form.email.length && this.formStatus.length) {
                this.formErrors.email = 'Please enter a valid email.';
                return this.formErrors.email;
              }
            },
            messageValidation: function () {
              if (!this.form.message.length && this.formStatus.length) {
                this.formErrors.message = 'Please enter a valid name.';
                return this.formErrors.message;
              }
            }
          },
          methods: {
            validateForm: function () {
              if (this.form.name.length && this.form.email.length && this.form.message.length) {
                this.formStatus = "Form Sent!";
              } else {
                this.formStatus = "There is at least one invalid form field."
              }
            }
          }
      });
  </script>
</body>
</html>